<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>

    <!-- bootstrap cdn -->
    <%- include('./layouts/assets.ejs') %>

    <link rel="Icon" href="img/icare-logo.png" />

    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background: #eaeaea;
      }

      :root {
        --main-color: #2a2550;
        --second-color: #eaeaea;
        --additional-color: #34b3f1;
        --text-color: #333;
        --montserrat-regular: "Montserrat", sans-serif;
      }

      .area {
        margin-left: 60px;
      }

      .dashboard-header-content {
        background: var(--text-color);
        color: var(--second-color);
        font-family: var(--montserrat-regular);
        font-weight: bolder;
        font-size: 3em;
      }

      .dashboard-header-content a {
        text-decoration: none;
        color: var(--second-color);
      }

      .dashboard-header-content h1 {
        margin: 20px;
      }

      .dashboard-header-content h1 span {
        color: var(--additional-color);
      }

      .container {
        background: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
        padding: 20px;
        border-radius: 5px;
      }

      .file-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: none;
        overflow: hidden;
        background-color: var(--additional-color);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .username,
      .gender,
      .number,
      .bio {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        /* padding: 10px; */
      }

      .username label,
      .gender label,
      .number label,
      .bio label {
        font-size: 1.3em;
        font-weight: bold;
        color: var(--main-color);
      }

      input,
      textarea {
        padding: 5px;
        border-radius: 5px;
        border: 2px solid var(--main-color);
      }

      .row.footer {
        gap: 1em;
      }

      .back-to-dashboard,
      .save-changes {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 150px;
        height: 40px;
        border-radius: 5px;
      }

      .back-to-dashboard {
        background: inherit;
        border: 2px solid var(--main-color);
      }

      .save-changes {
        background: var(--main-color);
      }

      .back-to-dashboard a,
      .save-changes button {
        text-decoration: none;
        font-size: 1.1em;
        font-weight: bold;
        font-family: var(--montserrat-regular);
        width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .back-to-dashboard a {
        color: var(--main-color);
      }

      .save-changes button {
        color: var(--second-color);
        background: inherit;
        border: none;
      }

      .profile {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .username.error,
      .gender.error,
      .number.error,
      .bio.error {
        color: #ff0099;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <%- include('./layouts/dashboardnav') %>

    <div class="area">
      <div class="container-fluid">
        <div class="row dashboard-header-content">
          <a href="/dashboard">
            <h1><span>I</span>care</h1>
          </a>
        </div>
      </div>
      <div class="container">
        <form action="/profile-user/<%- user._id %>" class="information-form" enctype="multipart/form-data" method="post">
          <div class="row profile-image">
            <div class="col-sm-1">
              <% if (buffer) { %>
              <label for="file-input" class="file-circle">
                <img src="data:image/jpeg;base64,<%= buffer %>" class="profile" />
                <input type="file" id="file-input" class="profile" name="profile" style="display: none" />
              </label>
              <% } else if(user.profile.path) { %>
              <label for="file-input" class="file-circle">
                <img src="<%- user.profile.path %>" alt="user-profile" class="profile" />
                <input type="file" id="file-input" class="profile" name="profile" style="display: none" />
              </label>
              <% } else { %>
              <label for="file-input" class="file-circle">
                <img src="img/user-profile.png" alt="user-profile" class="profile" />
                <input type="file" id="file-input" class="profile" name="profile" style="display: none" />
              </label>
              <% } %>
            </div>

            <div class="col-sm-11">
              <h2>Edit Your Profile</h2>
              <p>Upload image to update your profile</p>
            </div>
          </div>

          <div class="row input-box">
            <div class="row">
              <div class="col-sm-5 username">
                <label for="username">Username</label>
                <input type="text" placeholder="Username" id="username" name="username" value="<%- user.username %>" />
              </div>
              <div class="col-sm-5 gender">
                <label for="gender">Gender</label>

                <select class="form-select" aria-label="Default select example" id="gender">
                  <% if (user.gender === 'Male') { %>
                  <option selected value="<%- user.gender %>"><%- user.gender %></option>
                  <option value="Female">Female</option>
                  <option value="None">None</option>
                  <% } else if(user.gender === 'Female') { %>
                  <option selected value="<%- user.gender %>"><%- user.gender %></option>
                  <option value="Male">Male</option>
                  <option value="None">None</option>
                  <% } else { %>
                  <option selected value="<%- user.gender %>"><%- user.gender %></option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5 number">
                <label for="number">Number</label>
                <input type="number" placeholder="Number" id="number" name="number" value="<%- user.number %>" />
              </div>
              <div class="col-sm-5 bio">
                <label for="bio">Bio</label>
                <textarea name="bio" id="bio" cols="30" rows="5"><%- user.bio %></textarea>
              </div>
            </div>
          </div>
          <div class="row footer">
            <div class="col-sm-2 back-to-dashboard">
              <a href="/dashboard">Back to Dashboard</a>
            </div>
            <div class="col-sm-2 save-changes">
              <button type="submit">Save Changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div hidden="true" data-id="<%- id %>"></div>

    <script>
      const form = document.querySelector(".information-form");
      const select = document.querySelector(".form-select");

      const element = document.querySelector("[data-id]");
      const id = element.getAttribute("data-id");

      form.addEventListener("submit", async function (e) {
        e.preventDefault();
        const username = form.username.value;
        const gender = select.value;
        const number = form.number.value;
        const bio = form.bio.value;
        const file = form.profile.files[0];
        const url = "/profile-user/" + id;

        if (file) {
          const maxFileSize = 2 * 1024 * 1024; //2MB
          const allowedFileTypes = ["image/jpeg", "image/jpg"];

          console.log(file);

          if (file.size > maxFileSize) {
            alert("max file exceeded");
            return;
          }

          if (!allowedFileTypes.includes(file.type)) {
            alert("file extension not supported");
            return;
          }

          const reader = new FileReader();

          reader.readAsArrayBuffer(file);

          reader.onload = async () => {
            const profile = reader.result;

            const formData = new FormData();
            formData.append("username", username);
            formData.append("gender", gender);
            formData.append("number", number);
            formData.append("bio", bio);
            formData.append("profile", file);

            const res = await fetch(url, {
              method: "POST",
              body: formData,
            });
          };

          const data = await res.json();

          console.log(data);

          if (data.user) {
            const toastLiveExample = document.querySelector("#notification");
            const toast = new bootstrap.Toast(toastLiveExample);

            toast.show();

            setTimeout(() => {
              location.reload();
            }, 5000);
          }
        } else {
          const res = await fetch(url, {
            method: "POST",
            body: JSON.stringify({ username, gender, number, bio }),
            headers: { "Content-Type": "application/json" },
          });

          const data = await res.json();

          console.log(data);

          if (data.user) {
            const toastLiveExample = document.querySelector("#notification");
            const toast = new bootstrap.Toast(toastLiveExample);

            toast.show();

            setTimeout(() => {
              location.reload();
            }, 5000);
          }

          if (data.errors) {
            const toastLiveExample = document.querySelector("#error");
            const toast = new bootstrap.Toast(toastLiveExample);

            toast.show();
          }
        }
      });
    </script>

    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container top-0 end-0 p-3">
        <!-- Then put toasts within -->
        <div class="toast" id="notification" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="img/logo.png" alt="app logo" class="rounded" width="50" />
            <strong class="me-auto">- Notification</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">Edit successfully saved, automatically refresh page in 5 seconds. if this page doesn't reload, please do it yourself</div>
        </div>
      </div>
    </div>
    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container top-0 end-0 p-3">
        <!-- Then put toasts within -->
        <div class="toast bg-danger" id="error" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <img src="img/logo.png" alt="app logo" class="rounded" width="50" />
            <strong class="me-auto">- Error</strong>
            <small class="text-muted">just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-light">There's an error occured when trying to saved your configuration</div>
        </div>
      </div>
    </div>
  </body>
</html>
